# Construye una aplicaci√≥n web usando un modelo de aprendizaje autom√°tico
En este proyecto se entrena un modelo de aprendizaje autom√°tico sobre un conjunto de datos que est√° fuera de este mundo: avistamiento de OVNIs durante el siglo pasado, proporcionados por la base de datos de NUFORC.

## Ejercicio - limpia tus datos
En esta lecci√≥n usar√°s datos de 80,000 avistamientos de OVNIs, recopilados por NUFORC (El centro nacional de informes OVNI). Estos datos tienen algunas descripciones interesantes de avistamientos OVNI, por ejemplo:

Descripci√≥n larga del ejemplo. "Un hombre emerge de un haz de luz que brilla en un campo de hierba por la noche y corre hacia el estacionamiento de Texas Instruments".
Descripci√≥n corta del ejemplo. "las luces nos persiguieron".
La hoja de c√°lculo ufos.csv incluye columnas acerca de los campos city, state y country donde ocurri√≥ el avistamiento, la forma (shape) y su latitud (latitude) y ubicaci√≥n (latitude y longitude).

En el notebook en blanco inclu√≠do en esta lecci√≥n:

Importa pandas, matplotlib, y numpy como lo hiciste en lecciones anteriores e importa la hoja de c√°lculo ufos. Puedes dar un vistazo al conjunto de datos de ejemplo:

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

ufos = pd.read_csv('./data/ufos.csv')
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

2. Convierte los datos de OVNIs en un peque√±o dataframe con nuevos t√≠tulos. Revisa los valores √∫nicos en el campo Country.

In [3]:
ufos = pd.DataFrame({'Seconds': ufos['duration (seconds)'], 'Country': ufos['country'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})

ufos.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

3. Ahora, puedes reducir la cantidad de datos que necesitamos manejar eliminando cualquier valor nulo e importando √∫nicamente los avistamientos entre 1 y 60 segundos:

In [4]:
ufos.dropna(inplace=True)

ufos = ufos[(ufos['Seconds'] >= 1) & (ufos['Seconds'] <= 60)]

ufos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 25863 entries, 2 to 80330
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    25863 non-null  float64
 1   Country    25863 non-null  object
 2   Latitude   25863 non-null  float64
 3   Longitude  25863 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1010.3+ KB

4. Importa la librer√≠a LabelEncoder de Scikit-learn para convertir los valores de texto de los pa√≠ses a n√∫mero:

‚úÖ LabelEncoder codifica los datos alfab√©ticamente

In [5]:
from sklearn.preprocessing import LabelEncoder

ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])

ufos.head()

    Seconds  Country   Latitude   Longitude
2      20.0        3  53.200000   -2.916667
3      20.0        4  28.978333  -96.645833
14     30.0        4  35.823889  -80.253611
23     60.0        4  45.582778 -122.352222
24      3.0        3  51.783333   -0.783333

## Ejercicio - construye tu modelo
Ahora puedes prepararte para entrenar un modelo dividiendo los datos entre los grupos de entrenamiento y pruebas.

1. Selecciona las tres caracter√≠sticas que quieres entrenar en tu vector X, y el vector Y ser√° Country. Quieres ser capaz de introducir Seconds, Latitude y Longitude y obtener un id de pa√≠s de regreso.

In [6]:
from sklearn.model_selection import train_test_split

Selected_features = ['Seconds','Latitude','Longitude']

X = ufos[Selected_features]
y = ufos['Country']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

2. Entrena tu modelo usando regresi√≥n log√≠stica:

In [7]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

print(classification_report(y_test, predictions))
print('Predicted labels: ', predictions)
print('Accuracy: ', accuracy_score(y_test, predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        41
           1       0.83      0.23      0.36       250
           2       1.00      1.00      1.00         8
           3       1.00      1.00      1.00       131
           4       0.96      1.00      0.98      4743

    accuracy                           0.96      5173
   macro avg       0.96      0.85      0.87      5173
weighted avg       0.96      0.96      0.95      5173

Predicted labels:  [4 4 4 ... 3 4 4]
Accuracy:  0.9605644693601392

c:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

La precisi√≥n no es mala (alrededor del 95%), como era de esperar, ya que Country y Latitude/Longitude se correlacionan.

El modelo que creaste no es muy revolucionario como deber√≠as ser capaz de inferir un pa√≠s (Country) por su latitud y longitud (Latitude, Longitude), pero es un buen ejercicio intentar entrenar desde datos en crudo que ya limpiaste, exportaste y luego usa este modelo en una aplicaci√≥n web.

## Ejercicio - Haz 'pickle' a tu modelo
Ahora, ¬°es momento de hacer pickle a tu modelo! Puedes hacer eso con pocas l√≠neas de c√≥digo. Una vez la hiciste pickle, carga tu modelo serializado (pickled) y pru√©balo constra un arreglo de datos de muestra que contenga los valores para segundos, latitud y longitud.

In [10]:
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
print(model.predict([[50,44,-12]]))

[1]

c:\Users\HP\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

El modelo regresa '3', lo cual es el c√≥digo de pa√≠s para el Reino Unido (UK). ¬°Sorprendente! üëΩ